body{
  margin: 0;
  background-color: #09aa82b4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#container{
  color: #d7dfe4;
}

.digit{
  font-size: 150px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  text-align: center;
  padding: 20px 25px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
}

.txt{
  font-size: 40px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50px;
  text-align: center;
  padding: 5px 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
}

.dot{
  font-size: 150px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  text-align: center;
  padding: 5px 10px;
}

#btn-container{
  text-align: center;
  margin-top: 40px;
}

.btn{
  padding: 15px 30px;
  font-size: 15px;
  margin: 0px 10px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
}

#start{
  background-color: seagreen;
}

#stop{
  background-color: cornflowerblue;
}

#reset{
  background-color: crimson;
}